<!DOCTYPE html>
<html>
<head>
    <title>Poké Mart - Cart</title>
</head>
<body>
    <h1>Cart Items</h1>
    <ul>
        <% cartItems.forEach(item => { %>
            <li>
                <h2><%= item.product.name %></h2>
                <% if (item.product.images && item.product.images.length > 0) { %>
                    <% item.product.images.forEach(image => { %>
                    <img src="<%= '/images/products/' + image.image_url %>" alt="<%= item.product.name %> image" style="width:90px;height:auto;">
                    <% }) %>
                <% } else { %>
                    <p>No images available for this product.</p>
                <% } %>
                <p><%= item.product.description %></p>
                <p>Item Price: $<%= item.product.price %></p>
                <p>Quantity: <%= item.cartItem.quantity %></p>
                <p>Subtotal: $<%= (item.product.price * item.cartItem.quantity).toFixed(2) %></p>
            </li>
        <% }) %>
    </ul>
    <% if (cartItems.length > 0) { %>
        <p>Total Price: $<%= calculateTotal(cartItems).toFixed(2) %></p>
    <% } else { %>
        <p>Cart is empty</p>
    <% } %>
</body>
</html>